@model ContactModel
@{
    ViewData["Title"] = "Contact Page";
}

<form action="/home/ContactSubmit" method="post">
    <div class="form-group">
        <label asp-for="FullName">שם:</label>
        <input asp-for="FullName" />
    </div>
    <div class="form-group">
        <label asp-for="Mobile">טלפון:</label>
        <input asp-for="Mobile" />
    </div>
    <div class="form-group">
        <label for="email">דואר אלקטרוני:</label>
        <input id="email" type="email" name="Email" />
    </div>
    <div class="form-group">
        <label for="subject">נושא:</label>
        <select id="subject" name="Subject">
            <option>הרשמה</option>
            <option>תשלום</option>
            <option>אחר</option>
        </select>
    </div>
    <div class="form-group">
        <label for="body">הודעה:</label>
        <textarea id="body" name="Body"></textarea>
    </div>
    <div class="form-group">
        <button type="reset">איפוס</button>
        <button type="submit">שליחה</button>
    </div>
</form>