html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  direction: rtl;
}

body {
  margin-bottom: 60px;
}

form { width: 50%; }
.form-group { margin-bottom: 10px; }
    .form-group input, .form-group select, .form-group textarea { width: 100%; }
    .form-group button { width: 47%; margin: 0 1%; }